{
  "singleQuote": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "printWidth": 75,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false
}
