<div class="papersBack mt-16"
     data-desktop=""
     style="background-image: url(assets/img/earth_horizon.jpg);
     visibility: inherit; opacity: 1;">
    <div class="flex justify-center items-center">
        <a>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <p class="text-9xl font-bold text-center">404</p>
            <br/>
            <p class="text-9xl font-bold text-center">NO MORE PROBLEMS IN SPACE</p>
            <br/>
            <img class="mx-auto" src="assets/img/astro2.png">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </a>
    </div>
</div>
