.btn-like {
  @apply rounded py-2 px-4 font-bold text-amber-50 bg-amber-500 bg-opacity-50 border-4 border-amber-500;
}

.btn-like-hoverable {
  @apply hover:bg-opacity-100 hover:border-transparent;
}
