<div class="papersBack bg-mars">
  <div class="mx-auto p-2">
    <div class="flex-cc">
      <div class="card">
        <div class="col-start-1 col-span-1">
          <input
            class="text-slate-900 p-1 rounded-lg"
            type="date"
            name=""
            id=""
          />
          <button class="btn btn-dark">Galleries</button>
        </div>
      </div>
    </div>
    <div class="flex-cc">
      <div class="grid gap-x-8 gap-y-8 grid-cols-3 columns-auto">
        <app-thumbnail-item
          *ngFor="let photo of photos"
          [photo]="photo"
        ></app-thumbnail-item>
      </div>
    </div>
  </div>
</div>
