<div class="w-full h-full wallpaper bg-mars py-8">
  <div class="flex-cc mb-8">
    <div
      class="w-full sm:w-3/4 md:w-2/4 lg:w-2/5 xl:w-2/6 p-8 bg-amber-500 bg-opacity-5 rounded-xl shadow-2xl"
    >
      <mat-calendar
        class="bg-amber-50 rounded-xl"
        [(selected)]="selectedDate"
        startView="month"
      ></mat-calendar>
    </div>
  </div>
  <div class="flex-cc">
    <div
      class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 columns-auto"
    >
      <app-thumbnail-item
        *ngFor="let photo of photos"
        [photo]="photo"
      ></app-thumbnail-item>
    </div>
  </div>
</div>
