<div class="papersBack bg-mars">
    <div class="container">
        <div class="container2">
            <div class="card">
                <div class="col-start-1 col-span-1">01
                    <img class="w-96 aspect-video my-8" src="assets/img/mars2.jpg"/>
                    <button class="btn btn-dark">Mise à jour</button>
                    <button class="btn btn-dark">Galleries</button>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="grid gap-x-8 gap-y-8 grid-cols-3 columns-auto">
                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">So I started to walk into the water
                        <img class="w-96 aspect-video my-8" src="assets/img/earth.png"/>
                        <button class="btn btn-dark">Mise à jour</button>
                        <button class="btn btn-dark">Galleries</button>
                    </p>
                </div>

                <!-- ... -->
            </div>
        </div>
    </div>
</div>
