<div class="papersBack bg-mars">
    <div class="container mt-8">
        <div class="container card3 lg:text-center justify-center item-center">
            <h1 class="container2 text text-5xl | uppercase | font-weight: bold; font-size: 12px;">
                Bienvenue sur Mars !
            </h1>
        </div>
    </div>
    <!----------------------------- GALLERIE------------------------------------->
    <div class="container">
        <div class="card4">
            <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
                Bienvenue sur Mar, sur la Terre !
            </h1>
            <h6>Vous etes passionés par l'espace ?
                <p>
                    Mars représente une espoire pour les humains, une aventure exceptionnelle dans laquelle se mêlent
                    sciences, techniques,
                    exploration ainsi que de nombreux défis et découvertes à venir.
                </p>
                <br />
                <div class="card3">

                    <p> Distance au Soleil : de 207 millions de km (Périhélie) à 250 millions de km (Aphélie)</p>
                    <p> Distance à la Terre: de 56 à 400 millions de km</p>
                    <p> Caractéristique : planète la plus étudiée après la Terre</p>
                    <p> Observation : visible à l’œil nu, couleur rouge</p>
                    <p> 1 jour martien : Un peu plus d’un jour terrestre (24h 39 mn)</p>
                    <p> 1 année martienne : 687 jours terrestres</p>
                    <p> Robots actifs au sol : Curiosity (M.S.L), Perseverance (Mars 2020)</p>
                </div>
                <div class="mt-8">
                    <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
                        Quelques info sur Mars
                    </h1>
                    <br />
                    <p> Mars possède un grand nombre de points communs avec la Terre. Elle est à peu près deux fois plus
                        petite que notre planète, et possède une atmosphère très fine. Comme la Terre, il existe des
                        saisons, et un jour martien dure un peu plus de 24 heures.</p><br />
                    <p> Cependant, Mars est une planète où il fait très froid : sa température en surface ne dépasse
                        jamais 0 °C, et il y fait en moyenne -53 °C. Une année martienne (rotation complète autour du
                        Soleil) dure environ 687 jours. </p><br />
                    <p> Deux petits satellites sont en orbite autour de Mars : Phobos et Déimos, probablement deux
                        anciens astéroïdes capturés par l’attraction martienne. </p>
                </div>
            </h6>
        </div>
    </div>


    <div class="container">
        <div class="card4">
            <h1 class="text-2xl md:uppercase font-semibold tracking-wide">
                Des image de Big Red !
            </h1>
            <div class="card3">
                <br />
                <p> Chaque jour, nous recevons de nouvelles images provenant de mars. </p>
                <p> Parmi nos images favorites, nous avons décidé de vous les partager en les mettant en avant ! </p>
            </div>
        </div>
    </div>
    <!----------------------------- ACCUEIL DU JOUR------------------------------------->

    <div class="container2">
        <div class="card">
            <div class="col-start-1 col-span-1">01
                <img class="w-96 aspect-video my-8" src="assets/img/mars_168.jpg" />
            </div>
        </div>
    </div>
    <!----------------------------- GALLERIE------------------------------------->
    <div class="container">
        <div class="container2 card4">
            <div class="grid gap-x-8 gap-y-8 grid-cols-3 columns-auto">
                <div class="card">
                    <p class="text-center text-white | uppercase">I am Mars
                        <img class="w-96 aspect-video my-8" src="assets/img/vie-mars.jpg" />
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">
                        I am Mars
                        <img class="w-96 aspect-video my-8" src="assets/img/vie-mars.jpg" />
                    </p>
                </div>

                <div class="card">
                    <p class="text-center text-white | uppercase">
                        I am Mars
                        <img class="w-96 aspect-video my-8" src="assets/img/vie-mars.jpg" />
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!----------------------------- DIV A FAIRE ------------------------------------->

    <div class="flex-cc">
        <div *ngIf="!isEmpty; else noPhotos" class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 columns-auto">
            <app-thumbnail-item *ngFor="let photo of photos" [photo]="photo"></app-thumbnail-item>
        </div>
        <ng-template #noPhotos>
            <span class="text-amber-100 text-lg font-bold" [innerText]="emptyMessage"></span>
        </ng-template>
    </div>

</div>